# encoding: utf-8

<header class="navbar navbar-fixed-top">
          <% if false %>
          <%= image_tag "IMG_0294.jpg" , :size => "300x380", :class=> "shalom" %>
          <% end %>
          <nav>

            <ul class="nav pull-right">
              <li><%= link_to "היסטוריה", :controller => "articles" , :action => "list" %></li>
              <li><%= link_to "אומנות",    '#' %></li>
              <li><%= link_to "אודותי", :controller => "articles" , :action =>"about" %></li>
              <% if admin? %>
                <li><%= link_to "חדש", :conroller => "articles" , :action => "new" %></li>
              <% end %>  
            </ul>
          </nav>

</header>
<h1 class="picadily">דוד
</h1>

<div>
<p> . שלום. שמי דוד קרמף</p>
<p>אני מתכנת במקצועי , בעל תואר ראשון במתמטיקה ופילוסופיה מהאוניברסיטה העיברית</p>
<p>.ותואר שני בלימודי המזה”ת בן זמננו  מאוניברסיטת תל-אביב</p>                    
<p>במהלך לימודי המזה”ת התעניינתי בעיקר בברית שנכרתה בין ארה”ב לישראל בראשית שנות השישים,בעיקר</p>
<p>.מתוך תמיהה, שהרי הברית הזאת פוגעת באינטרסים של ארצות הברית במרחב הענק של הארצות הערביות</p>
<p>המחקר הביא אותי לכמה תובנות והמטרה הראשונה של האתר הזה, שנבנה ועוצב על ידי תוך שימוש בטכנלוגיית</p>
<p>.הריילס , הוא להביא בפני הקוראים את התובנות האלו לשפוטם</p>
<p>האתר מיועד לחובבי קריאה. המאמרים לא יהיו קצרים, ואני לא משקיע הרבה בעיצובו. עולם האינטרנט שופע באתרים</p>
<p>שהם עתירי עיצוב ודלים בתוכן. זה גם לא יהיה בלוג. אין בכוונתי לשתף אתכם בכל הגיג או חוויה  שעוברים בראשי. אני אפרסם</p> 
<p>.רק מאמרים שיכתבו בקפידה ויעמדו בסטנדרטים שלי לכתיבה רצינית</p>
<p>.מאחל לכם קריאה מעניינת</p>
</div>

  
